In [21]:
import sys
import os
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [22]:
# Step 1: Initialize Chrome driver
chrome_driver_path = 'chromedriver.exe'
driver = webdriver.Chrome(chrome_driver_path)
driver.get('https://datawarehouse.dbd.go.th/searchJuristicInfo/47732/submitObjCode/1')

C:\Users\USER\AppData\Local\Temp\ipykernel_23348\469718496.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chrome_driver_path)

In [23]:
click_out = driver.find_element(By.XPATH, '/html/body/div[9]/div/div/div/div[1]/div[2]/div[1]/button')
click_out.click()
time.sleep(2)

In [24]:
click_out_2 = driver.find_element(By.XPATH, '/html/body/div[5]/div/div/div/div[3]/button')
click_out_2.click()
time.sleep(2)

In [25]:
search = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/form/div/input')
search.send_keys(47732)
time.sleep(3)

In [26]:
click_button = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/form/div/span')
click_button.click()
time.sleep(10)

In [28]:
click_out_3 = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div[2]/div[4]/ul/li/a')
click_out_3.click()
time.sleep(10)

In [29]:
click_out_4 = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div[2]/div[2]/div[2]/div/table/tbody/tr/td[4]')
click_out_4.click()
time.sleep(24)

In [30]:
# Find the table using its XPath
table_element = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div/div[2]/div/div/div/div')

# Get the HTML content of the table
table_html = table_element.get_attribute('outerHTML')

# Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(table_html, 'html.parser')

# Extract the table data
table_rows = soup.find_all('tr')
table_data = []
for row in table_rows:
    row_data = [cell.text.strip() for cell in row.find_all('td')]
    table_data.append(row_data)

# Convert the table data into a DataFrame
df_1 = pd.DataFrame(table_data[1:], columns=table_data[1])

# Print the DataFrame
print(df_1)

   1  0105554051200   อินเตอร์โกลด์ โกลด์เทรด จำกัด  483,506,763,726.39
0  1  0105554051200   อินเตอร์โกลด์ โกลด์เทรด จำกัด  483,506,763,726.39
1  2  0105553020335          ออโรร่า เทรดดิ้ง จำกัด  316,626,093,760.71
2  3  0105546153732                  ออสสิริส จำกัด  158,176,099,976.45
3  4  0105559104085    เบสตั้น โกลด์ เทรดดิ้ง จำกัด  147,948,566,628.50
4  5  0105559166552  วี อาร์ เค เพาเวอร์โกลด์ จำกัด   86,145,044,444.28

In [31]:
# Find the table using its XPath
table_element = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div/div[2]/div/div/div/div')

In [32]:
# Find all table rows including headers
table_rows = soup.find_all('tr')

# Extract table headers
table_headers = table_rows[0].find_all('th')
headers = [header.text.strip() for header in table_headers]

# Extract table data
table_data = []
for row in table_rows[1:]:
    row_data = [cell.text.strip() for cell in row.find_all('td')]
    table_data.append(row_data)

# Create DataFrame
df = pd.DataFrame(table_data, columns=headers)
print(df)

  ลำดับ     เลขทะเบียน                   ชื่อนิติบุคคล     รายได้รวม (บาท)
0     1  0105554051200   อินเตอร์โกลด์ โกลด์เทรด จำกัด  483,506,763,726.39
1     2  0105553020335          ออโรร่า เทรดดิ้ง จำกัด  316,626,093,760.71
2     3  0105546153732                  ออสสิริส จำกัด  158,176,099,976.45
3     4  0105559104085    เบสตั้น โกลด์ เทรดดิ้ง จำกัด  147,948,566,628.50
4     5  0105559166552  วี อาร์ เค เพาเวอร์โกลด์ จำกัด   86,145,044,444.28

In [33]:
df.head()

  ลำดับ     เลขทะเบียน                   ชื่อนิติบุคคล     รายได้รวม (บาท)
0     1  0105554051200   อินเตอร์โกลด์ โกลด์เทรด จำกัด  483,506,763,726.39
1     2  0105553020335          ออโรร่า เทรดดิ้ง จำกัด  316,626,093,760.71
2     3  0105546153732                  ออสสิริส จำกัด  158,176,099,976.45
3     4  0105559104085    เบสตั้น โกลด์ เทรดดิ้ง จำกัด  147,948,566,628.50
4     5  0105559166552  วี อาร์ เค เพาเวอร์โกลด์ จำกัด   86,145,044,444.28

In [34]:
df.dtypes

ลำดับ              object
เลขทะเบียน         object
ชื่อนิติบุคคล      object
รายได้รวม (บาท)    object
dtype: object

In [35]:
# Remove commas and convert to integer
df['รายได้รวม (บาท)'] = df['รายได้รวม (บาท)'].str.replace(',', '').astype(float)

In [36]:
df.dtypes

ลำดับ               object
เลขทะเบียน          object
ชื่อนิติบุคคล       object
รายได้รวม (บาท)    float64
dtype: object

In [37]:
df.to_csv('test.csv', index=False)